.text-blue {
  color: var(--bs-blue);
}

.text-red {
  color: var(--bs-red);
}

.text-info {
  color: var(--bs-info) !important;
}

.text-gray-100 {
  color: var(--bs-gray-100);
}

.text-gray-300 {
  color: var(--bs-gray-300);
}

.bg-blue-100 {
  background-color: var(--bs-blue-100);
}

.bg-red-100 {
  background-color: var(--bs-red-100);
}

.bg-gray-100 {
  background-color: var(--bs-gray-100);
}

.border-red {
  border-color: var(--bs-red);
}

.bg-success-100 {
  background-color: var(--bs-success-100);
}

.bg-warning-100 {
  background-color: var(--bs-warning-100);
}

.bg-infor-100 {
  background-color: var(--bs-infor-100);
}
