.image-label {
  width: 150px;
  height: 150px;
  border: 1px dashed #000;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 4px;
}

.image-label:hover {
  background-color: #000;
  color: white;
}

.product-image {
  width: 150px;
  height: 150px;
  position: relative;
  padding: 4px;
  border: 1px dashed #000;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.product-image:hover {
  border-style: solid;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 4px;
}

.product-image .actions {
  position: absolute;
  top: -16px;
  right: -16px;
  display: flex;
  gap: 4px;
  z-index: 1;
}

.product-image .actions .icon {
  color: white;
  background-color: blue;
  border-radius: 50%;
  padding: 4px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding-top: 6px;
}

.product-image .actions .icon.delete {
  background-color: red;
}

.product-image .actions .icon:hover {
  background-color: #000;
}
