html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-right {
  text-align: right;
}

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.error-field {
  color: red;
}

.paginationBtns {
  width: 100%;
  height: 40px;
  padding: 10px 50px 0px 0px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  /* position: relative; */
}

.paginationBtns a {
  padding: 10px;
  border: 1px solid rgb(188, 183, 183);
  color: red;

}

.paginationBtns a:hover {

  color: white;
  background-color: red;
}

.paginationActive a {
  color: white;
  background-color: red;
}

.paginationDisabled a {
  /* pointer-events: none; */
  color: rgb(91, 91, 91);
  background-color: white;
}

.paginationDisabled a:hover {
  color: rgb(91, 91, 91);
  background-color: white;
  /* pointer-events: none; */
  cursor: not-allowed;
}

.search-container {
  width: 30%
}

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap"); */

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search input {
  /* width: 70%  ; */
  height: 50px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}


/* .search input:focus {
  box-shadow: none;
  border: 1.5px solid blue;
} */

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;

}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 70px;
  background: blue;
  border-color: aqua;

}