.header {
  border-top-style: solid;
  -o-border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
  border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 60px;
  padding-left: 2rem;
  padding-right: 2rem;
}

#main {
  transition: all 0.3s;
  min-height: calc(100vh - 60px - 10rem);
  padding-left: 3rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
