ul#listGroup .appActiveLink .listGroupItem,
ul#listGroup .listGroupItem:hover {
  background-color: var(--bs-danger);
  border-color: var(--bs-danger);
  color: var(--bs-white);

  transition: all 0.5s;
}

ul#listGroup a .listGroupItem {
  background-color: var(--bs-gray-100);
}

ul#listGroup a .listGroupItem {
  border-radius: var(--6px);
}

ul#listGroup a:not(:last-child) {
  margin-bottom: var(--6px);
}

ul#listGroup a .listGroupItem {
  border: none;
}
.appActiveLink {
  background-color: var(--bs-danger);
  border-radius: var(--6px);
}