apiVersion: v1
kind: Secret
metadata:
  name: yas-postgresql-credentials-secret
  annotations:
    reloader.stakater.com/match: "true"
type: Opaque
data:
  POSTGRESQL_USERNAME: {{ .Values.credentials.postgresql.username | b64enc }}
  POSTGRESQL_PASSWORD: {{ .Values.credentials.postgresql.password | b64enc }}

---
apiVersion: v1
kind: Secret
metadata:
  name: yas-elasticsearch-credentials-secret
  annotations:
    reloader.stakater.com/match: "true"
type: Opaque
data:
  ELASTICSEARCH_USERNAME: {{ .Values.credentials.elasticsearch.username | b64enc }}
  ELASTICSEARCH_PASSWORD: {{ .Values.credentials.elasticsearch.password | b64enc }}

---
apiVersion: v1
kind: Secret
metadata:
  name: yas-keycloak-credentials-secret
  annotations:
    reloader.stakater.com/match: "true"
type: Opaque
data:
  KEYCLOAK_CUSTOMER_MANAGEMENT_CLIENT_SECRET: {{ .Values.credentials.keycloak.customerManagementClientSecret | b64enc }}