.homepage-container {
  background-color: #f5f5f5;
  padding: 20px 0;
}

.homepage-container .title {
  font-size: 16px;
  text-transform: uppercase;
  text-align: start;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  color: #27272a;
}

/* Banner container */
.home-banner-container {
  padding: 0;
  min-width: 1000px;
}

.home-banner-wrapper {
  display: flex;
  gap: 6px;
  margin-bottom: 20px;
}

.home-banner-wrapper .main-banner {
  flex: 1;
}

.home-banner-wrapper .main-banner .carousel .carousel-inner .carousel-item img {
  height: 330px;
  object-fit: cover;
}

.home-banner-wrapper .main-banner .carousel .carousel-control-next,
.home-banner-wrapper .main-banner .carousel .carousel-control-prev {
  width: fit-content;
  height: fit-content;
  padding: 6px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
}

.home-banner-wrapper .main-banner .carousel .carousel-control-next {
  right: 20px;
}

.home-banner-wrapper .main-banner .carousel .carousel-control-prev {
  left: 20px;
}

.home-banner-wrapper .main-banner .carousel .carousel-indicators {
  margin-bottom: 0;
}

.home-banner-wrapper .main-banner:hover .carousel .carousel-control-next,
.home-banner-wrapper .main-banner:hover .carousel .carousel-control-prev {
  opacity: 1;
}

.home-banner-wrapper .sub-banner img {
  height: 330px;
  width: 330px;
  object-fit: cover;
}

@media (max-width: 1400px) {
  .home-banner-wrapper .main-banner .carousel .carousel-inner .carousel-item img {
    height: 280px;
  }

  .home-banner-wrapper .sub-banner img {
    height: 280px;
    width: 280px;
  }
}

@media (max-width: 1200px) {
  .home-banner-wrapper .main-banner .carousel .carousel-inner .carousel-item img {
    height: 250px;
  }

  .home-banner-wrapper .sub-banner img {
    height: 250px;
    width: 250px;
  }
}

/* Category container */
.category-container {
  min-width: 1000px;
  background-color: #fff;
}

.category-container .list-categories {
  position: relative;
}

.category-container .list-categories .btn-change-page {
  width: 30px;
  height: 30px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: rgba(67, 71, 85, 0.27) 0 0 0.25em, rgba(90, 125, 188, 0.05) 0 0.25em 1em;
  cursor: pointer;
  transition: all 0.15s ease-out;
}

.category-container .list-categories .btn-change-page:hover {
  background-color: #000;
  color: #fff;
}

.category-container .list-categories .btn-change-page.prev {
  left: -14px;
}

.category-container .list-categories .btn-change-page.next {
  right: -14px;
}

.category-container .list-categories ul {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 0;
  margin: 0 -12px;
}

.category-container .list-categories ul li {
  width: calc(100% / 10);
  list-style: none;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.category-container .list-categories ul li:first-child {
  border-left: none;
}

.category-container .list-categories ul li:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.category-container .list-categories .category {
  height: 150px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.category-container .list-categories .category:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category-container .list-categories .category:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
}

.category-container .list-categories .category .image-wrapper {
  flex-shrink: 1;
  margin-top: 10%;
  width: 70%;
  height: 60%;
}

.category-container .list-categories .category .image-wrapper .image {
  height: 100%;
  background-size: cover;
  background-position: center;
}

/* Featured product container */
.featured-product-container {
  margin-top: 20px;
  min-width: 1000px;
  padding: 0;
}

.featured-product-container .title {
  text-align: center;
  background-color: #fff;
  font-weight: bold;
  border-bottom: 4px solid #ee4d2d;
  color: #ee4d2d;
  padding: 0;
}
