.hompage-container .title {
  font-size: 16px;
  text-transform: uppercase;
  text-align: start;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
}

/* Category container */
.category-container {
  margin-top: 20px;
  min-width: 1000px;
}

.category-container .list-categories {
  position: relative;
}

.category-container .list-categories .btn-change-page {
  width: 30px;
  height: 30px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  cursor: pointer;
  transition: all 0.15s ease-out;
}

.category-container .list-categories .btn-change-page:hover {
  background-color: #000;
  color: #fff;
}

.category-container .list-categories .btn-change-page.prev {
  left: -14px;
}

.category-container .list-categories .btn-change-page.next {
  right: -14px;
}

.category-container .list-categories ul {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 0;
}

.category-container .list-categories ul li {
  width: calc(100% / 10);
  list-style: none;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.category-container .list-categories ul li:first-child {
  border-left: none;
}

.category-container .list-categories ul li:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.category-container .list-categories .category {
  height: 150px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.category-container .list-categories .category:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category-container .list-categories .category:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.category-container .list-categories .category .image-wrapper {
  flex-shrink: 1;
  margin-top: 10%;
  width: 70%;
  height: 60%;
}

.category-container .list-categories .category .image-wrapper .image {
  height: 100%;
  background-size: cover;
  background-position: center;
}
