/*==================================================================
    TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT
==================================================================*/
.cl0 {
  color: #fff;
}
.cl1 {
  color: #717fe0;
}
.cl2 {
  color: #333;
}
.cl3 {
  color: #666;
}
.cl4 {
  color: #999;
}
.cl5 {
  color: #222;
}
.cl6 {
  color: #888;
}
.cl7 {
  color: #b2b2b2;
}
.cl8 {
  color: #555;
}
.cl9 {
  color: #aaa;
}
.cl10 {
  color: #1d1d1d;
}
.cl11 {
  color: #f9ba48;
}
.cl12 {
  color: #ccc;
}

/*==================================================================
   BACKGROUND BACKGROUND BACKGROUND BACKGROUND BACKGROUND BACKGROUND 
==================================================================*/
.bg-none {
  background-color: transparent;
}
.bg0 {
  background-color: #fff;
}
.bg1 {
  background-color: #717fe0;
}
.bg2 {
  background-color: #e6e6e6;
}
.bg3 {
  background-color: #222;
}
.bg5 {
  background-color: rgba(0, 0, 0, 0.5);
}
.bg6 {
  background-color: #f2f2f2;
}
.bg7 {
  background-color: #333;
}
.bg8 {
  background-color: #f3f3f3;
}
.bg9 {
  background-color: rgba(255, 255, 255, 0.9);
}

/*---------------------------------------------*/
.bg-overlay1::before {
  content: '';
  position: absolute;
  z-index: -100;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
}

/*---------------------------------------------*/
.bg-img1 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/*==================================================================
       BORDER BORDER  BORDER  BORDER  BORDER  BORDER  BORDER  BORDER
==================================================================*/
.bor0 {
  border-radius: 50%;
}

.bor1 {
  border-radius: 23px;
}

.bor2 {
  border-radius: 20px;
}

.bor3 {
  border-bottom: 1px solid transparent;
}

.bor4 {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}

.bor5 {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.bor6 {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.bor7 {
  border: 1px solid #ccc;
  border-radius: 15px;
}

.bor8 {
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}

.bor9 {
  border-right: 1px solid #e6e6e6;
}

.bor10 {
  border: 1px solid #e6e6e6;
}

.bor11 {
  border-radius: 21px;
}

.bor12 {
  border-bottom: 1px dashed #d9d9d9;
}

.bor13 {
  border: 1px solid #e6e6e6;
  border-radius: 22px;
}

.bor14 {
  border-radius: 25px;
}

.bor15 {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.bor16 {
  border-left: 3px solid #e6e6e6;
}

.bor17 {
  border: 1px solid #e6e6e6;
  border-radius: 25px;
}

/*---------------------------------------------*/
.bor18 {
  border-top: 1px solid #e6e6e6;
}

.bor18:last-child {
  border-bottom: 1px solid #e6e6e6;
}

/*---------------------------------------------*/
.bor19 {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

/*==================================================================
 HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW 
==================================================================*/
.plh0::-webkit-input-placeholder {
  color: #999999;
}
.plh0:-moz-placeholder {
  color: #999999;
}
.plh0::-moz-placeholder {
  color: #999999;
}
.plh0:-ms-input-placeholder {
  color: #999999;
}

.plh1::-webkit-input-placeholder {
  color: #b2b2b2;
}
.plh1:-moz-placeholder {
  color: #b2b2b2;
}
.plh1::-moz-placeholder {
  color: #b2b2b2;
}
.plh1:-ms-input-placeholder {
  color: #b2b2b2;
}

.plh2::-webkit-input-placeholder {
  color: #333;
}
.plh2:-moz-placeholder {
  color: #333;
}
.plh2::-moz-placeholder {
  color: #333;
}
.plh2:-ms-input-placeholder {
  color: #333;
}

.plh3::-webkit-input-placeholder {
  color: #555;
}
.plh3:-moz-placeholder {
  color: #555;
}
.plh3::-moz-placeholder {
  color: #555;
}
.plh3:-ms-input-placeholder {
  color: #555;
}

.plh4::-webkit-input-placeholder {
  color: #888;
}
.plh4:-moz-placeholder {
  color: #888;
}
.plh4::-moz-placeholder {
  color: #888;
}
.plh4:-ms-input-placeholder {
  color: #888;
}

/*---------------------------------------------*/
.wrap-input1 {
  position: relative;
  border-bottom: 2px solid rgba(204, 204, 204, 0.1);
}

.input1 {
  background-color: transparent;
  width: 100%;
}

.focus-input1 {
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #6774d5;
  left: 0;
  bottom: -2px;
}

.input1:focus + .focus-input1 {
  width: 100%;
}

/*//////////////////////////////////////////////////////////////////
[ Hover ]*/

.hov-cl0:hover {
  color: #fff;
}
.hov-bg0:hover {
  background-color: #fff;
}
.hov-cl1:hover {
  color: #717fe0;
}
.hov-bg1:hover {
  background-color: #717fe0;
}

/*---------------------------------------------*/
.hov-btn1:hover {
  border-color: #222;
  background-color: #222;
  color: #fff;
}

.hov-btn1:hover i {
  color: #fff;
}

/*---------------------------------------------*/
.hov-btn2:hover {
  border-color: #fff;
  background-color: #fff;
  color: #717fe0;
}

/*---------------------------------------------*/
.hov-btn3:hover {
  border-color: #717fe0;
  background-color: #717fe0;
  color: #fff;
}

.hov-btn3:hover i {
  color: #fff;
}
