.my-order {
  padding-top: 80px;
  padding-bottom: 60px;
}

.my-order .nav-item button {
  padding: 20px 20px;
  border-bottom: 0px;
}

.item-price {
  margin-left: auto;
  color: #ca1515;
  font-size: 16px;
  font-weight: 800;
}

.item-product-name {
  font-weight: 600;
  color: #66a8a6;
  font-size: 18px;
}

.order-total-price {
  color: #ca1515;
  font-weight: 800;
  font-size: 20px;
}

.order-status-title {
  color: orange;
  font-size: 15px;
  font-weight: 600;
}

.delivery-status-title {
  color: rgb(18, 26, 236);
  font-size: 15px;
  font-weight: 600;
}

.delivery-method-title {
  font-size: 15px;
  font-weight: 600;
}

.order-item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
