.product {
  display: block;
  margin-top: 16px;
  padding: 0;
}

.product .product-card {
  color: #27272a;
  height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
}

.product .product-card:hover {
  color: #27272a;
  transition: all 0.15s ease-in-out;
  border-color: #ee4d2d;
  transform: translateY(-2px);
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
}

.product .product-card .image-wrapper {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product .product-card .image-wrapper img {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
}

@media (min-width: 1200px) {
  .product .product-card .image-wrapper img {
    max-height: 220px;
  }

  .product.products-page .product-card .image-wrapper img {
    max-height: 180px;
  }
}

@media (min-width: 1400px) {
  .product .product-card .image-wrapper img {
    max-height: 270px;
  }

  .product.products-page .product-card .image-wrapper img {
    max-height: 220px;
  }
}

.product .product-card .info-wrapper {
  padding: 10px;
}

.product .product-card .info-wrapper .prod-name {
  font-size: 12px;
  line-height: 16px;
  height: 32px;
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product .product-card .info-wrapper .rating-sold {
  height: 22px;
  display: flex;
  align-items: center;
  font-size: 13px;
  gap: 6px;
  color: #808089;
}

.product .product-card .info-wrapper .rating-sold .star i {
  font-size: 10px;
  color: #fdd836;
}

.product .product-card .info-wrapper .rating-sold .sold span {
  font-size: 12px;
}

.product .product-card .info-wrapper .price {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.product .product-card .info-wrapper hr {
  margin: 5px 0;
}

.product .product-card .info-wrapper .delivery {
  font-size: 12px;
  color: #808089;
}
