/* Product List */

.filter-card{
    background-color: #DCE5E1;
    border-radius:  10px;
    padding: 10px 15px;
}
.filter-title{
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
}
.filter-card ul{
    list-style-type: none;
    font-size: 13px;
    line-height: 30px;
    color: #777777;
    cursor: pointer;
}
.sub-title{
    
    font-size: 16px;
    font-weight: 500;
    color: gray;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 35px;
}
.filter-sort-grid{
    padding: 10px;
    background-color: #DCE5E1;
    border-radius: 10px;
}