/* Filter */
.search-filter {
  flex: 0 0 11.875rem;
  min-width: 0;
  margin: 0 1.25rem 1.25rem 0;
}

.search-filter .title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}

.search-filter .title i {
  font-size: 14px;
}

.search-filter .title span {
  letter-spacing: 0.6px;
}

/* Filter group */
.search-filter .filter-group {
  font-size: 14px;
  padding: 20px 0;
}

.search-filter .filter-group + .filter-group {
  border-top: 1px solid #e5e5e5;
}

.search-filter .filter-group .filter-group__title {
  margin-bottom: 10px;
  color: #000000;
}

.search-filter .filter-group .filter-group__list-item {
  display: flex;
  gap: 8px;
  padding: 4px 0;
  align-items: flex-start;
}

.search-filter .filter-group .filter-group__list-item input {
  margin-top: 4px;
  cursor: pointer;
}

.search-filter .filter-group .filter-group__list-item label {
  color: #000000cc;
  cursor: pointer;
  user-select: none;
}

.search-filter .filter-group .filter-group__range {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-bottom: 10px;
}

.search-filter .filter-group .filter-group__range input {
  width: 45%;
  border: 1px solid #e5e5e5;
  padding: 4px 6px;
}

.search-filter .filter-group .filter-group__range span {
  flex: 1;
  text-align: center;
}

.search-filter .filter-group .filter-group__button {
  display: block;
  width: 100%;
  text-align: center;
  padding: 6px 0;
  background-color: #ee4d2d;
  color: #fff;
  text-transform: uppercase;
}

.search-filter .filter-group .filter-group__button:hover {
  background-color: #fb3811;
}
