.search-sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  border-radius: 4px;
  padding: 13px 20px;
  background-color: #00000008;
}

.search-sort .search-total {
  font-size: 14px;
  color: #555555;
}

.search-sort .search-action {
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-sort .search-action .search-action-sort {
  position: relative;
  width: 180px;
  background-color: #fff;
  padding: 4px 8px;
  cursor: default;
}

.search-sort .search-action .search-action-sort .search-current {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-sort .search-action .search-dropdown {
  position: absolute;
  background-color: #fff;
  top: 100%;
  width: 100%;
  left: 0;
  display: none;
}

.search-sort .search-action .search-action-sort:hover > .search-dropdown {
  display: block;
}

.search-sort .search-action .search-dropdown .search-dropdown-item {
  padding: 6px 8px;
  cursor: pointer;
}

.search-sort .search-action .search-dropdown .search-dropdown-item.active {
  color: #ee4d2d;
}

.search-sort .search-action .search-dropdown .search-dropdown-item:hover {
  color: #ee4d2d;
}
