<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="ENCODING" value="UTF-8"/>
    <property name="LOG_LEVEL" value="DEBUG"/>
    <include
            resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProperty scope="context" name="appName"
                    source="spring.application.name"/>
    <!-- Reuse the log from Spring -->
    <include
            resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include
            resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <Target>${user-system}.out</Target>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${ENCODING}</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
